<div  class="border-paleGrey border pb-4 border-solid w-64 flex shadow-card bg-white full-radius rounded rounded-lg  ">
        <div class="rounded-t-lg rounded grid grid-cols-1 text-left gap-1 ">
            <img class="rounded-t-lg border-radius rounded object-cover h-auto w-full " [src]="vehicle.imgUrl">
            <h6 class="text-cardSubTitle pt-2 font-cardSubTitle px-4 font-Muli text-brownGrey">{{vehicle.model}}</h6>
            <h6 class="text-cardSubTitle font-cardSubTitle px-4 font-Muli text-black">{{vehicle.name}}</h6>
        </div>
</div> 
