<div  class="border-paleGrey border border-solid w-50 flex shadow-card bg-white full-radius rounded rounded-lg  ">
        <div class="rounded-t-lg rounded grid grid-cols-1 text-center gap-1 ">
            <img class="rounded-t-lg border-radius rounded object-cover h-auto w-full " [src]="vehicle.imgUrl">
            <h6 class="text-cardSubTitle font-cardSubTitle font-Muli text-brownGrey">{{vehicle.name}}</h6>
            <h6 class="text-cardSubTitle font-cardSubTitle font-Muli text-black">{{vehicle.currency}} {{vehicle.price}}</h6>
        </div>
</div> 
